@import "../../styles/import";

.whc-list {
  background: @list-fill;

  &__title {
    padding: @list-title-padding;
    font-size: @list-title-font-size;
    color: @list-title-color;
    line-height: 1;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: @list-item-padding;
    font-size: @list-item-font-size;
    color: @list-item-color;
    line-height: 1;
    cursor: pointer;
    
    transition: all 0.3s;

    &-header {
      margin-right: 0.8em;
    }

    &-content {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &-actions {
      margin-left: 0.8em;
      display: none;
    }

    &:hover & {
      background: @list-item-fill-hover;

      &-actions {
        display: block;
      }
    }

    &.active {
      background: @list-item-fill-active;
    }
  }
}
